li:hover {
    cursor: pointer;
}

.displayBox {
    height: 275px;
    width: auto;
    /* Bonus Mission 1: Added margin due to styling added at bottom of this page.  */
    margin: 10px;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
    /* Bonus Mission 4: Added underline to headings. */
    text-decoration: underline;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */

.selected {
    color:blue;
}