.displayBox {
    height: 275px;
    width: auto;
    /* Bonus Mission 1: Added margin due to styling added at bottom of this page.  */
    margin: 10px;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
    /* Bonus Mission 4: Added underline to headings. */
    text-decoration: underline;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
    background:gold;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    color:red;
    font-style: italic;
}